<%= stylesheet_link_tag 'users', media: 'all' %>

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('https://images.icanvas.com/2d/TEO86.jpg');">
			<div class="wrap-login100">

        <%= form_for(:session, url: login_path, :html => {:class => "login100-form validate-form"}) do |f| %>
					<span class="login100-form-logo">
						<img src="http://relearnhabits.com/wp-content/uploads/2017/12/Habit-Course-Logo-White.png" style="width:  300px">
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Log in
					</span>
          <% flash.each do |key, value| %>
                 <div class="alert alert-<%= key %>"><%= value %></div>
               <% end %>
					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<%= f.text_field :username, class: 'input100', placeholder: "Username" %>
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
              <%= f.password_field :password, class: 'input100', placeholder: "Password" %>
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<div class="contact100-form-checkbox">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Remember me
						</label>
					</div>

					<div class="container-login100-form-btn">
            <%= f.submit "Log in", class: "login100-form-btn" %>
          <% end %>


					</div>

					<div class="text-center p-t-90">
						<a class="txt1" href="#">
							Forgot Password?
						</a>
					</div>
          <p>New user? <%= link_to "Sign up now!", "/users/new" %></p>

			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>


</body>
</html>
