<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body id="myPage">


<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/users" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Profile</a>
  <a href="user_path(<%= current_user.id %>)" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Calender</a>
  <a href="/activities/new" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Birthday Countdown</a>

    <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">Habits <i class="fa fa-caret-down"></i></button>
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="/activities" class="w3-bar-item w3-button">All</a>
      <a href="completed" class="w3-bar-item w3-button">Completed</a>
      <a href="active" class="w3-bar-item w3-button">Active</a>
    </div>

  </div>
  <li class="w3-bar-item w3-button"> <%= link_to "Log out", logout_path, controller: 'sessions', method: "post", action: 'destroy' %> </li>
 </div>

</div>
<!-- Image Header -->
<header>
  <img src="https://www.brainyquote.com/photos_tr/en/w/willdurant/145967/willdurant1.jpg" alt="boat" style="width:100%;min-height:100px;max-height:400px;">
</header>
<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
<h2>Active Habits</h2>
<p>Here are all the Habits you are currently working on:</p>

<div class="w3-row"><br>

  <% @active_activities.each do |activity| %>
<div class="w3-quarter">
  <a href = "/activities/<%= activity.activity.id %>"> <img src=  <%= activity.activity.image_url %> alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity"> </a>
  <h3>  <%= activity.activity.name %></h3>
  <% if activity.status == true %>
  <p>Completed</p>
  <% else %>
  <p>Active</p>
  <% end %>
</div>
<% end %>
</div>




</body>
</html>
